@charset "utf-8";

@media ((min-width: 400px)) and (max-width: 659px) {
    
    * {
        font-family: monospace;
    }

    body {
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
    }

    main {
        margin: 5px;
    }

    header {
        background-color: rgb(34, 34, 34);
        color: white;
        display: flex;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin: 20px
    }
    
    li {
        background-color: rgb(163, 163, 163);
        border-radius: 2px;
        border: 1px solid black;
    }

    img {
        width: 100%;
    }

    figcaption {
        text-align: center;
    }

    section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .legenda {
        font-size: 20px;
        color: rgb(201, 200, 200);
    }

    #logo {
        color: white;
        margin: 10px;
        align-self: center;
        font-size: 50px;
        flex: 1;
    }

    #titulo {
        text-align: center;
        margin: 50px  0;
        font-size: 20px;
    }

}

@media (min-width: 660px) {

    * {
        font-family: monospace;
    }

    body {
        background-color: rgb(247, 105, 105);
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
    }

    header {
        background-color: rgb(46, 46, 46);
        color: white;
        display: flex;
        justify-content: space-between;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #logo {
        color: white;
    }

    nav ul {
        list-style: none;
        display: flex;
        gap: 30px;
        margin: 20px
    }


    #titulo {
        text-align: center;
    }

    img {
        width: 250px;
    }

    figcaption {
        text-align: center;
    }

    section {
        display: flex;
        flex-wrap: wrap;;
        justify-content: space-around;
    }
}